<div class="w-full grid grid-cols-2 px-4 bg-gray-100">
    <div class="h-screen">
        <div class="w-full mx-10 px-2 font-bold py-4 text-xl sticky top-0 bg-gray-100"> WESTON</div>
        <div class="mx-20 px-8 py-16 my-auto flex flex-col justify-center h-full">
            <div class="flex justify-center text-left flex-col self-center   ">
                <p class="capitalize text-5xl font-semibold">Our properties</p>
                <p class="py-2 text-gray-500">Looking for your dream house or property. Search here and select your best one from more than 1 million listing</p>
            </div>
            <div class="flex flex-col space-y-5 my-4">
        </div>
        </div>
    </div>

    <div class="bg-transparent z-0 h-screen">
        <img class="w-full h-full" src="../../assets/img/skyscraper.jpg" alt="">
    </div>
<!-- second section -->
<div class="col-span-full mt-5">
    <p class="uppercase text-2xl text-center py-10 mt-6 font-semibold">LIST of properties</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi commodi, itaque corporis eveniet temporibus sint mollitia exercitationem. Labore officiis commodi vero, cumque doloremque quasi aliquid quaerat voluptate voluptates quia cupiditate.</p>
    <div class="flex space-x-10 justify-center py-5">
        <a class="bg-gray-900 text-gray-50 hover:bg-gray-900 hover:text-gray-50 hover:border-none transition-all duration-300 py-2 px-4">Living House</a>
        <a class="border border-gray-400 hover:bg-gray-900 hover:text-gray-50 hover:border-none transition-all duration-300 px-4 py-2 text-gray-500">House Villa</a>
        <a class="border border-gray-400 hover:bg-gray-900 hover:text-gray-50 hover:border-none transition-all duration-300 px-4 py-2 text-gray-500">House Apartment</a>
        <a class="border border-gray-400 hover:bg-gray-900 hover:text-gray-50 hover:border-none transition-all duration-300 px-4 py-2 text-gray-500">Office Floors</a>
    </div>
</div>
<div class="col-span-full">
    <div class="flex justify-between py-4">
        <div>
            <input type="text" placeholder="Search by Are or Location" class="border-b border-gray-500 focus:outline-none font-semibold px-3 py-2   bg-transparent">
        </div>
    </div>
    <div class="grid grid-cols-3 gap-10">
        
        @for (item of [1,1,1,1,1,1,1,1,1]; track $index) {
            <div class="w-full h-[400px] overflow-hidden">
                <app-property />
            </div>
            }
    </div>
</div>