
<div class="pt-24 px-4">
@if (property) {

    <div>
        <div class="border-b-[3px] my-3 w-full">
            <p class="font-bold py-3 sm:text-2xl text-xl">Overview</p>
    </div>
    
    <!-- picture div -->
    <div class="grid grid-cols-2 h-[60vh] gap-2 mb-14">
        <!-- main image div -->
        <div class="w-full h-full col-span-full sm:col-span-1 overflow-auto scrollbar-hide ">
            <img [src]="selectedImage || property.images[0]?.image" class="w-full h-full" alt="">
        </div>
        <!-- end of main image div -->
        <!-- other imgs div -->
        <div class="sm:col-span-1 col-span-full grid grid-cols-2 gap-2">
            @for (image of property.images.slice(1,5); track $index) {
                <div (click)="selectImage($index+1)" class="w-full overflow-auto scrollbar-hide h-full">
                    <img src="{{image.image}}" class="w-full h-full" alt="">       
                </div>
            }
        </div>
        <div class="w-full text-end col-span-full pr-10 font-bold">*Click on any image to view</div>
        <!-- end of other imgs div -->
    </div>
    <!-- end of picture div -->
<!--  house data div -->
<div class="grid  grid-cols-3 gap-x-10 pt-5 ">
    <div class="sm:col-span-2 col-span-full ">
        <div class="w-full">
            <p class="sm:text-2xl text-xl pt-4 font-semibold uppercase ">{{property.title}}</p>
            <p class="text-sm py-2 text-gray-500">{{property.street}} {{property.city}} {{property.zip_code}}</p>
            <p class="py-5 text-2xl font-semibold  ">&#x20a6;{{property.price | number:'1.2-2'}}</p>
            
        </div>
        
        <div class="grid grid-cols-2 w-full gap-8">
            <div class="sm:col-span-1 col-span-full">
                <div class="flex space-x-5">
                    <p class="font-semibold">Est. Payment:</p>
                    <p class="text-gray-700">&#x20a6;9,265.69/mo/mo</p>
                </div>
                <div class="flex space-x-1">
                    <p class="font-semibold">Status:</p>
                    <p class="text-gray-700">{{property.status}}</p>
                    <span class="">|</span>
                    <p class="font-semibold">Days on site:</p>
                    <p class="text-gray-700">{{property.days_on_site}}</p>                
                </div>
                <div class="w-full py-7">
                    <p class="text-xl font-semibold uppercase py-3 ">House Description</p>
                    <p class="text-gray-700">{{property.description}}</p>
                </div>
            </div>
            <div class="w-full sm:col-span-1 col-span-full">
                <div class="flex space-x-2">
                    <span class="text-center border-r border-gray-700 pr-3">
                        <p class="text-3xl">{{property.bedroom}}</p>
                        <p>Bed</p>
                    </span>
                    
                    <span class="text-center border-r border-gray-700 pr-3">
                        <p class="text-3xl">{{property.bathroom}}</p>
                        <p>Bath</p>
                    </span>
                    
                    <span class="text-center">
                        <p class="text-3xl">{{property.interior_size}}</p>
                        <p>Sqft</p>
                    </span>
                    
                </div>
                <div class="py-4">
                    <p class="pt-3 font-semibold text-xl uppercase">Highlights</p>
                    <div class="py-3">
                        <span class="flex justify-between py-1 border-b pb-1 border-gray-400">
                            <p>Property Type</p>
                            <p class="font-semibold">{{property.property_type}}</p>
                        </span>
                        <span class="flex justify-between py-1 border-b pb-1 border-gray-400">
                            <p>Lot/Acreage</p>
                            <p class="font-semibold">0.2</p>
                        </span>
                        <span class="flex justify-between py-1 border-b pb-1 border-gray-400">
                            <p>Year Built</p>
                            <p class="font-semibold">2012</p>
                        </span>
                        <span class="flex justify-between py-1 border-b pb-1 border-gray-400">
                            <p>Country</p>
                            <p class="font-semibold">Nigeria</p>
                        </span>
                        <span class="flex justify-between py-1 border-b pb-1 border-gray-400">
                            <p>Area</p>
                            <p class="font-semibold">{{property.city}}</p>
                        </span>
                        <span class="flex justify-between py-1 border-b pb-1 border-gray-400">
                            <p>MLS</p>
                            <p class="font-semibold">32-123654</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- agent component div -->
    <div class="sm:col-span-1 col-span-full">
        <div class="w-full shadow-xl pb-8">
            <p class="text-center font-semibold py-2 pb-5 ">
                Schedule a Tour
            </p>
            <form class="w-full flex flex-col items-center space-y-4">
                <input  class=" w-9/12   border border-gray-300 px-2 py-2" type="date" name="date" id="">
                <div class="w-full flex flex-col items-center space-y-2">
                    <input class="w-9/12 bg-gray-900 uppercase text-gray-100 py-2 text-sm border border-gray-300 px-2  " type="submit" name="submit" id="" value="In person tour">
                    <input class="w-9/12  border border-gray-800 uppercase text-sm px-2 py-2 " type="submit" name="submit2" id="" value="virtual tour">
                </div>
            </form>

        </div>
        <div class="flex flex-col py-6 px-8">
            <div class="flex space-x-4 items-center">
                <div class="w-20 h-20">
                    <img class="rounded-full w-full h-full" [src]="agent?.image" alt="">
                </div>
                <div class="">
                    <p class="font-semibold">{{agent?.name}}</p>
                    <a class="text-gray-400 border-b" [href]="agent?.facebook">View agent profile</a>
                </div>
            </div>
        
            <div class="flex space-x-4 py-4">
                <a [href]="agent?.whatsapp" class="border-2 py-1 text-center leading-5  border-gray-800 w-36">Email</a>
                <a [href]="'tel:'+agent?.phone" class="border-2 py-1 text-center leading-5  border-gray-800 w-36">Phone</a>
            </div>
        </div>
    </div>
    <!-- agent component div -->
</div>
<div class="grid sm:grid-cols-3 grid-cols-1 space-x-3">
    <div>
        <p class="text-xl font-semibold py-4">Exterior Details</p>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Plot Size</span>: {{property.plot_size}} acres</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Roof</span>: {{property.roof_type}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Construction</span>: {{property.construction_company}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Cooling</span>: {{property.cooling}}</li>
    </div>
    <div>
        <p class="text-xl font-semibold py-4">Interior Details</p>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Interior Size</span>: {{property.interior_size}} sq.ft</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Bedroom</span>: {{property.bedroom}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Bathroom</span>: {{property.bathroom}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Garage</span>: {{property.garage}} cars</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Laundry Room</span>: {{property.laundry_room_equipment}}</li>
    </div>
    <div class=" sm:px-8">
        <p class="text-xl font-semibold py-4">Room Dimentions</p>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Living room</span>: {{property.living_room_size}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Bedroom</span>: {{property.bathroom_size}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Bathroom</span>: {{property.bathroom_size}}</li>
        <li class="text-gray-400 font-semibold capitalize"><span class="text-gray-900 px-1 py-2">Kitchen</span>: {{property.kitchen}}</li>
    </div>
</div>

<div class="py-5 my-8">
    <p class="text-2xl py-7 font-semibold text-center">Similar Listing</p>
    <div class="grid sm:grid-cols-3 grid-cols-1 gap-x-10">
        @for (item of [1,2,3]; track $index) {
            <app-property  />
        }
    </div>
</div>
<!--end of  house data div -->
</div>

}
</div>