<div class="w-full grid grid-cols-2 bg-gray-100">
    <div class="sm:h-screen md:col-span-1 col-span-2">
        <div class="w-full sm:flex hidden mx-10 px-2 font-bold py-4 text-xl sticky top-0 bg-gray-100"> WESTON</div>
        <div class="sm:mx-20  py-16 my-auto flex flex-col justify-center h-full">
            <div class="flex  justify-center items-center sm:text-left text-center  flex-col self-center   ">
                <p class="capitalize sm:text-5xl text-2xl font-semibold">Trusted real estate property for you</p>
                <p class="py-2 text-gray-500 sm:px-10 px-4 ">Looking for your dream house or property. Search here and select your best one from more than 1 million listing</p>
            </div>
            <div class="flex flex-col space-y-5 my-4">
        </div>
            <div>
                <button class="bg-gray-900 text-gray-50 px-8 py-3">Discover Properties</button>
                <button class="text-gray-900 bg-gray-50 px-8 py-3">Learn More</button>
            </div>
            <div class="flex bg-white text-gray-900 mx-2 sm:mx-0 shadow-md p-5 text-center">
                <div class="flex-1 mx-2" >
                    <p class="font-bold  sm:text-lg">35+</p>
                    <p class="font-semibold text-gray-800 text-xs sm:text-sm uppercase sm:whitespace-nowrap">Years in business</p>
                </div>
                <div class="flex-1 mx-2" >
                    <p class="font-bold  sm:text-lg">200+M</p>
                    <p class="font-semibold text-gray-800 text-xs sm:text-sm uppercase sm:whitespace-nowrap">Deal in the past 12 months</p>
                </div>
                <div class="flex-1 mx-2" >
                    <p class="font-bold  sm:text-lg">$1B+</p>
                    <p class="font-semibold text-gray-800 text-xs sm:text-sm uppercase sm:whitespace-nowrap">in total sales</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-transparent z-0 sm:h-screen col-span-2 sm:col-span-1">
        <img class="w-full h-full" src="../../assets/img/skyscraper.jpg" alt="">
    </div>
<!-- second section -->
<div class="w-full col-span-full py-7 px-14 ">
    <div class="text-center px-4 py-6 flex flex-col items-center">
        <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold">What area are you looking for</p>
        <p class="text-gray-400 sm:w-4/5 sm:text-base text-sm text-left sm:text-center">Whether it's a cozy apartment in the heart of the city or a spacious family home in the suburbs, we have a wide range of properties to suit your needs. Let us help you find your dream home today!</p>
    </div>
    <div class="grid grid-cols-4 sm:gap-4 gap-y-5 gap-x-2">
        @for (house of houses; track $index) {
        <div class="w-full col-span-full sm:col-span-1 relative overflow-hidden">
            <app-house [src]="house.url"/>
            <p class="absolute bottom-0 bg-black bg-opacity-30 py-3 px-6 text-xl text-center text-gray-50 w-full">{{house.desc}}</p>
        </div>
    }
       

    </div>

</div>
<!-- end of second section -->

<!-- third section -->
    <div class="w-full px-14 py-7 col-span-full">
        <div class="text-center px-4 py-6 flex flex-col items-center">
            <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold">Who we are</p>
            <p class="text-gray-400 sm:w-4/5 sm:text-base text-sm text-left sm:text-center">At Weston Real Estate, we are dedicated to providing exceptional service and expertise in the real estate industry. Our team is committed to helping you navigate the complexities of buying, selling, or renting a property. With our knowledge, experience, and passion for real estate, we strive to exceed your expectations and make your real estate journey a seamless and rewarding experience.</p>
        </div>
        <div class="grid grid-cols-9 gap-8 ">
            <div class="sm:col-span-5 col-span-full sm:text-base text-sm w-full px-4 flex flex-col space-y-5 justify-center">
            <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold ">Meet the Weston Real Estate</p>
            <p>
                At Weston Real Estate, we're more than just a real estate agency – we're your partners in finding the perfect property for you. Our dedicated team is committed to understanding your unique needs and providing personalized solutions to make your real estate journey a seamless and enjoyable experience.

            </p>
            <p class="hidden sm:flex">
                In our pursuit of excellence, we never settle for mediocrity. With unwavering dedication, we strive to surpass expectations, ensuring that each client receives unparalleled service and support. At Weston Real Estate, your satisfaction is our priority, and we go above and beyond to exceed it at every turn.

            </p>
                <div class="my-4 py-4">
                <button class="text-gray-900 bg-white px-8 py-3 border-2">Learn More</button>
                </div>
            </div>
            <div class="w-full sm:col-span-4 col-span-full">
                <img src="../../assets/img/night-gouse.jpg" alt=""/>
            </div>
        </div>
    </div>
<!--end of third section -->

<!-- fourth section -->
<div class="w-full col-span-full py-5">
    <div class="text-center px-4 py-6 flex flex-col items-center">
        <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold">Exclusive listings</p>
        <p class="text-gray-400 sm:w-4/5 sm:text-base text-sm text-left sm:text-center">Discover our carefully curated collection of exclusive properties. Each listing is handpicked to offer you the finest selection of homes that meet your unique needs. From luxurious estates to charming urban apartments, explore our exclusive listings and find the perfect property for you.</p>
    </div>
    <div class="w-full h-full ">
        dfjbf
        <app-buttoned-carousel />
    </div>
</div>
<!-- end of fourth section -->
<!-- fifth section -->
<div class="w-full col-span-full py-7">
    <div class="text-center px-4 py-6 flex flex-col items-center">
        <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold">Area of expertise</p>
        <p class="text-gray-400 sm:w-4/5 sm:text-base text-sm text-left sm:text-center">At Weston Real Estate, our area of expertise encompasses a wide range of services tailored to meet your real estate needs. With our comprehensive knowledge of the market, dedication to client satisfaction, and commitment to excellence, we specialize in assisting clients with buying, selling, and renting properties. </p>
    </div>
    <div class="grid grid-cols-3 sm:h-[90vh] ">
        @for (item of [1,2,3,4,5,6]; track $index) {
            <div class="relative w-full col-span-full sm:col-span-1 sm:gap-0 gap-4 overflow-hidden rounded-md">
                <app-house [src]="'../../assets/img/apart.jpg'" />
                <div class="flex justify-center items-center bg-black text-2xl font-bold bg-opacity-10 absolute top-0 h-full w-full text-white">Greenville</div>
            </div>
        }
    </div>
</div>
<!-- end of fifth section -->

<!-- sixth sevction -->
<div class="py-7 sm:px-10 px-4 col-span-full ">
    <div class="text-center px-4 py-6 flex flex-col items-center">
        <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold">What our Client says</p>
        <p class="text-gray-400 sm:w-4/5 sm:text-base text-sm text-left sm:text-center">Here at Weston Real Estate, our clients' satisfaction is our top priority. We take great pride in delivering exceptional service and ensuring that our clients' needs are met.</p>
    </div>

    <div class="grid grid-cols-5 gap-20 sm:mx-14 py-14 sm:px-10 px-4 bg-white">
        <div class="sm:col-span-2 col-span-full ">
            <img src="../../assets/img/house-pool2.jpg" class="w-full" alt="">
        </div>
        <div class="flex flex-col justify-center sm:col-span-3 col-span-full">
            <p class="w-4/5 py-4 ">Working with Weston Real Estate was a fantastic experience. They listened to my needs and found me the perfect home in no time. I couldn't be happier with the outcome!</p>
            <p class="w-4/5 py-1 font-bold">ADENIYI JOHN</p>
            <p class="w-4/5 py-1 ">IKEJA LAGOS</p>
        </div>
    </div>
</div>
    <!-- end sixth sevction -->

    <!-- seventh section  -->
    <div class=" col-span-full w-full py-7  ">
            <div class="text-center px-4 py-6 sm:flex hidden flex-col items-center bg-gray-50">
                <p class="sm:text-2xl text-lg text-gray-800 uppercase font-semibold">Our Blogs</p>
                <p class="text-gray-400 sm:w-4/5 sm:text-base text-sm text-left sm:text-center">Our blog section is where we share valuable insights, tips, and news related to the real estate industry</p>
            </div>
            <div class="sm:grid sm:grid-cols-3 hidden gap-6 px-14">
               @for (item of [1,2,3]; track $index) {
                <app-blog />
               }
               
            </div>
           
    </div>
    <!--end of seventh section  -->

    <!-- eight sections -->
    <div id="contact" class="col-span-full w-full hidden h-[80vh] bg-gray-500 sm:flex justify-center items-center">
            <div class="w-[80%] h-[80%] grid grid-cols-9 gap-6  px-8 py-5">
                <div class="sm:col-span-5 col-span-full flex flex-col justify-center items-center">
                    <div class="text-left">
                        <p class="font-semibold text-white text-xl py-4">Get In Touch Today!</p>
                        <p class="text-gray-300 text-sm">We specialize in facilitating swift property transactions, whether you're buying or selling. Our team at Weston Real Estate is committed to ensuring a seamless and efficient process tailored to your needs.</p>
                    </div>
                    
                </div>

                <div class="sm:col-span-4 col-span-full w-full flex flex-col justify-center items-center h-full">
                    <form class="bg-black bg-opacity-80 flex flex-col justify-center w-[80%]  items-center py-14 px-5 space-y-4">
                        <input type="text" name="" class="w-[85%] text-sm px-2 py-1 border-none focus:border-none focus:outline-none bg-gray-500 text-white"  placeholder="Full Name">
                        <input type="text" name="" class="w-[85%] text-sm px-2 py-1 border-none focus:border-none focus:outline-none bg-gray-500 text-white"  placeholder="Your Email">
                        <input type="text" name="" class="w-[85%] text-sm px-2 py-1 border-none focus:border-none focus:outline-none bg-gray-500 text-white"  placeholder="Subject">
                        <textarea name="" id="" class="w-[85%] text-sm px-2 py-1 text-white border-none bg-gray-500 focus:border-none focus:outline-none " placeholder="Message"></textarea>

                        <input type="submit" value="SUBMIT" class="text-white my-4 border px-4 py-2 text-sm w-[85%] border-white" name="" id="">
                    </form>
                </div>
            </div>
    </div>
    <!-- end of eight sections -->
</div>