<div class="w-full grid grid-cols-2">
    <div class="h-screen">
        <div class="w-full mx-10 px-2 font-bold py-4 text-xl sticky top-0 bg-white"> WESTON</div>
        <div class="mx-20 px-8 py-16 my-auto flex flex-col justify-center h-full">
            <div class="flex  justify-center items-center  flex-col self-center   ">
                <p class="capitalize text-5xl font-semibold">Trusted real estate property for you</p>
                <p class="py-2 text-gray-500">Looking for your dream house or property. Search here and select your best one from more than 1 million listing</p>
            </div>
            <div class="flex flex-col space-y-5 my-4">
        </div>
            <div>
                <button class="bg-gray-900 text-gray-50 px-8 py-3">Discover Properties</button>
                <button class="text-gray-900 bg-gray-50 px-8 py-3">Learn More</button>
            </div>
            <div class="flex bg-white text-gray-900 shadow-md p-5 text-center">
                <div class="flex-1 mx-2" >
                    <p class="font-bold text-xl">35+</p>
                    <p class="font-semibold text-gray-800 uppercase whitespace-nowrap">Years in business</p>
                </div>
                <div class="flex-1 mx-2" >
                    <p class="font-bold text-xl">200+M</p>
                    <p class="font-semibold text-gray-800 uppercase whitespace-nowrap">Deal in the past 12 months</p>
                </div>
                <div class="flex-1 mx-2" >
                    <p class="font-bold text-xl">$1B+</p>
                    <p class="font-semibold text-gray-800 uppercase whitespace-nowrap">in total sales</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-transparent z-0 h-screen">
        <img class="w-full h-full" src="../../assets/img/skyscraper.jpg" alt="">
    </div>
<!-- second section -->
<div class="w-full col-span-full px-6 py-4 mx-14 ">
    <div class="text-center px-4 py-6">
        <p class="text-2xl text-gray-800 uppercase">What area are you looking for</p>
        <p class="text-gray-400 w-4/5 self-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequatur molestiae repellat facere doloribus minus ut hic corrupti officiis totam, perspiciatis sunt dolor molestias minima iure, corporis ad neque iste!</p>
    </div>
    <div class="grid grid-cols-4 gap-4">
        @for (house of houses; track $index) {
        <div class="w-full relative overflow-hidden">
            <app-house [src]="house.url"/>
            <p class="absolute bottom-0 bg-black bg-opacity-30 py-3 px-6 text-xl text-center text-gray-50 w-full">{{house.desc}}</p>
        </div>
    }
       

    </div>

</div>
<!-- end of second section -->







</div>